.container {
    display: grid;
    height: 95vh;
    grid-template: 1fr 4fr / 1fr 4fr;
    grid-template-areas: "sidebar header"
    "sidebar main";
}

.header {
    grid-area: header;
    background-color: navy;
}

.main {
    grid-area: main;
    background-color: navajowhite;
    display: grid;
    gap: 15px;
}

.sidebar {
    grid-area: sidebar;
    background-color: aqua;
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 25px;
}

.form {
    height: 250px;
}

form {
    display: grid;
    gap: 20px;
}

.gridDiv {
    background-color: brown;
    height: 250px;
    width: auto;
}